 @page "/"

<h1>Hello, Customers!</h1>

Welcome to Online Library Data Base system
You can view and study books online , you can seacrh for authors , content related to books and all other stuff.

<SurveyPrompt Title="You can view and study all the books online, Please register with your Email and Login. Happy Learning" />
