@page "/OnlineAccess/Edit/{AccessId:int}"
    @inject NavigationManager NavigationManager;
    @inject Data.OnlineServices OnlineServices

    <h3>Edit OnlineAccess</h3>

    <div>
        <hr />
        @if (_onlineAccess == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (_onlineAccess.AccessId == 0)
        {
            <p>No Records Found.</p>
        }
        else
        {
            <EditForm Model="@_onlineAccess" OnValidSubmit="@HandleValidSubmit">

                <dl class="row">

                    <dt class="col-sm-2">
                        Access ID
                    </dt>
                    <dd class="col-sm-10">
                        @_onlineAccess.AccessId
                    </dd>

                    <dt class="col-sm-2">
                        Customer Id
                    </dt>
                    <dd class="col-sm-10">
                        <InputText id="Customer Id" @bind-Value="_onlineAccess.CustomerId" /> <ValidationMessage For="@(() => _onlineAccess.CustomerId)" />
                    </dd>



                </dl>

                <button type="submit" class="btn btn-success">Submit</button>
                <DataAnnotationsValidator />
                <ValidationSummary />
            </EditForm>
        }
    </div>

    <div>
        <a href="/OnlineAccess/View/@_onlineAccess.BookId">View</a> |
        <a href="/OnlineAccess/">Back to List</a>
    </div>

    @code {

        [Parameter]
        public int AccessId { get; set; }

        private Data.OnlineAccess _onlineAccess = new Data.OnlineAccess();

        protected override async Task OnInitializedAsync()
        {
            await RefreshOnlineAccess(AccessId);
        }

        private async Task RefreshOnlineAccess(int bookId)
        {
            _onlineAccess = await OnlineServices.GetOnlineAccessAsync(AccessId);
        }

        private async Task HandleValidSubmit()
        {
            await OnlineServices.UpdateOnlineAccessAsync(_onlineAccess);
            NavigationManager.NavigateTo($"/OnlineAccess/View/{AccessId}");
        }

    }
